### Conditional Statements: if elif else

syntax:
-------

if <condition-TRUE>:
    <if-body>
else:
    <second-body>

- body of if-else alweays have 4 spaces/indented
- after colon the body will start

In [6]:
# conditions operators >, <, ==, >=, <=, !=

print("Qasim" == "Qasim")
print("Qasim" == "Hassan")
print(18>=22)
print(18>=18)
print(18<=22)
print("Qasim" != "Hassan")

True
False
False
True
True
True

In [13]:
# logical operartors AND, OR, NOT

# AND OPERATOR
("Qasim" == "Qasim") and ("Qasim" != "Hassan") # TRUE AND TRUE => TRUE
("Qasim" == "Qasim") and ("Qasim" == "Hassan") # TRUE AND FALSE => FALSE
("Qasim" == "Qasim") and ("Qasim" == "Hassan") # FALSE AND FALSE => FALSE
("Qasim" != "Qasim") and ("Qasim" != "Hassan") # FALSE AND TRUE => FALSE


# OR OPERATOR
print(("Qasim" == "Qasim") or ("Qasim" != "Hassan")) # TRUE AND TRUE => TRUE
print(("Qasim" == "Qasim") or ("Qasim" == "Hassan")) # TRUE AND FALSE => TURE
print(("Qasim" != "Qasim") or ("Qasim" == "Hassan")) # FALSE AND FALSE => FALSE
print(("Qasim" != "Qasim") or ("Qasim" != "Hassan")) # FALSE AND TRUE => TRUE

# NOT Operator

print(not True)
print(not False)

True
True
False
True
False
True

In [15]:
name = "Hassan"

if name == "Qasim":
    print("Trainer")
else:
    print("Student")

Student

In [17]:
name = "Shan"

if name == "Qasim":
    print("Trainer")
elif name == "Shan":
    print("Staff")
else:
    print("Student")

staff

In [19]:
# to read docuementation of any function => SHIFT + TAB
# by default anythign that input function take is in STRING datatype
name = input("Enter your name: ")

Enter your name:  Qasim

In [22]:
name = input("Enter your name: ")

if name == "Qasim":
    print("Trainer")
elif name == "Shan":
    print("Staff")
else:
    print("Student")

Enter your name:  Hassan

Student

A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [29]:
yearOfExperience = int(input('Write your working experience '))

if(yearOfExperience > 5):
    salary = int(input('what is your salary '))
    print('Your Bonus will be ', 0.05 * salary)
else:
    print('you are not eligible for bonus')

Write your working experience  3

you are not eligible for bonus

Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 18 eligible otherwise not eligible

In [30]:
age = int(input("Enter your age: "))

if age >=18:
    print("Yes, You're eligible")
else:
    print("Nope, You're not eligible")

Enter your age:  18

yes, You're eligible

Write a program to display "Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [34]:
number = int(input("Enter any number that is divisible by 5: "))

if number % 5 == 0:
    print("hello")
else:
    print("bye")

Enter any number that is divisible by 5:  26

bye

A school has following rules for grading system:

- Below 25 - F
- 25 to 45 - E
- 45 to 50 - D
- 50 to 60 - C
- 60 to 80 - B
- Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [39]:
marks = int(input("Enter your marks: "))

if marks > 80 and marks <= 100:
    print("Grade: A")
elif marks >= 60 and marks <= 80:
    print("Grade: B")
elif marks >= 50 and marks < 60:
    print("Grade: C")
elif marks >= 45 and marks < 50:
    print("Grade: D")
elif marks >= 25 and marks < 45:
    print("Grade: E")
elif marks <25 and marks >= 0:
    print("Grade: F")
else:
    print("Invalid Input")

Enter your marks:  80

Grade: A

#### Nested if-else statements

syntax:
-------

if <condition-TRUE>:

    if <condition-TRUE>:
    else:
        <second-body>
    
else:
    <second-body>

- body of if-else alweays have 4 spaces/indented
- after colon the body will start

In [42]:
nationality = input("Enter your nationality: ")

if nationality.lower() == "pakistani":
    #nested if
    age = int(input("Enter your age: "))
    if age >=18:
        print("You're eligible...")
    else:
    print("You're not eligible...")
else:
    print("should be Pakistani to cast VOTE")

Enter your nationality:  Pakistani
Enter your age:  12

You're not eligible...

Ask user to enter age, gender ( M or F ) and then using following rules print their place of service.

- if employee is female, then she will work only in urban areas.
- if employee is a male and age is in between 20 to 40 then he may work in anywhere
- if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR"

In [50]:
gender = input("Enter your gender (M or F): ")

if gender == "F":
    print("can work only in urban areas.")
else:
    age = int(input("Enter your age: "))
    if age >= 40 and age <=60:
        print("Can work in urban areas only.")
    elif age >=20 and age < 40:
        print("can work anywhere")
    else: 
        print("ERROR: You should be Under age or Should get retired")

Enter your gender (M or F):  M
Enter your age:  19

ERROR: You should be Under age or Should get retired

In [49]:
# comment can be added for docummentation

In [53]:
"""
this is also comment 
but it is a multipline comment
"""
print("Hello, world!")

Hello, world!

## Lists

In [54]:
# How to store sample collection of multiple values
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle" # this apporch is not recomended

In [56]:
# list always starts with []
# values can be seperated by ,
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles"]

In [57]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

### Lists: Taking slices out of them

In [ ]:
#     -5        -4           -3         -2          -1 ( right to left)
# ['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']
#    0           1             2         3           4 ( left to right  )

In [58]:
cities[3]

'Denver'

In [59]:
cities[-1]

'Los Angeles'

In [60]:
cities[2:]

['Chicago', 'Denver', 'Los Angeles']

In [61]:
# slicing
# starting value is always been included
# end values is always been not included
cities[2:4]

['Chicago', 'Denver']

### Lists: Adding and changing elements

In [63]:
cities[0] = "Karachi"

In [64]:
cities

['Karachi', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [67]:
cities = cities + [city_5]

In [68]:
cities

['Karachi', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [69]:
cities.append("Atlanta")

In [71]:
print(cities)

['Karachi', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'Atlanta']

### Lists: Deleting and removing elements

In [72]:
cities

['Karachi',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'Atlanta']

In [73]:
cities.remove("Atlanta")

In [74]:
cities

['Karachi', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [75]:
del cities[-1]

In [76]:
cities

['Karachi', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

### Lists: popping elements

In [77]:
cities.pop()

'Los Angeles'

In [78]:
cities

['Karachi', 'Baltimore', 'Chicago', 'Denver']

In [79]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [80]:
task_done = []

In [81]:
task_done.append(tasks.pop())

In [82]:
task_done

['meet with Zach']

In [83]:
tasks

['email Frank', 'call Sarah']

In [84]:
task_done.append(tasks.pop())

In [85]:
task_done

['meet with Zach', 'call Sarah']

In [86]:
tasks

['email Frank']

### List: Misc

In [87]:
task_done.clear()

In [88]:
task_done

[]

In [89]:
cities.count("Karachi")

1