### Functions
- Passing them information
- Passing information to them a different way
- Assigning a default value to a parameter
- Mixing positional and keyword arguments
- Dealing with an unknown number of arguments
- Passing information back from them
- Using functions as variables (which is what they really are)
- Local vs. global variables
- Functions within functions

functions syntax
-----------------

def <function-name>(<params>):
    <body>

In [1]:
def greet_saylani():
    print("Welcome to Saylani ZA IT park")

In [2]:
greet_saylani()

Welcome to Saylani ZA IT park

In [3]:
greet_saylani()

Welcome to Saylani ZA IT park

### Functions: Passing them information

In [4]:
def addition(num1, num2):
    sum = num1 + num2
    print(sum)

In [6]:
addition(11,2)

13

In [7]:
addition(2)

TypeError: addition() missing 1 required positional argument: 'num2'

### Functions: Passing information to them a different way

In [9]:
def addition(num1 = 0, num2 = 0):
    print(num1+num2)

In [11]:
addition(2)

2

### Functions: Mixing positional and keyword arguments

In [12]:
def salary_cal(salary, bonus=0.15):
    new_salary = salary + (salary*bonus)
    print(new_salary)

In [13]:
salary_cal(5000)

5750.0

In [14]:
def salary_cal(bonus=0.15, salary):
    new_salary = salary + (salary*bonus)
    print(new_salary)

SyntaxError: parameter without a default follows parameter with a default (346597511.py, line 1)

QUESTION: Write a Python function that accepts a string and counts the number of upper and lower case letters.

Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [16]:
def checkString(text):
    countupper = 0
    countlower = 0
    for i in text:
        if i>='a' and i<='z':
            countlower+=1
        elif i>='A' and i<='Z':
            countupper +=1
        else:
            continue
    return [countupper, countlower]

text = "Saylani Mass it Program"
counts = checkString(text)
print("Uppercase ", counts[0])
print("Lowercase ", counts[1] )

Uppercase  3
Lowercase  17

In [19]:
def count(i):
    upper=0
    lower=0
    for char in i:
        if char.isupper():
            upper +=1
        elif char.islower():
            lower +=1

    print(upper)
    print(lower)
    
count("The Quick Brown Fox")

4
12

### Functions: Dealing with an unknown number of arguments

In [20]:
def display_result(winner, score):
    print("The winner was " + winner)
    print("The score was " + score)

In [21]:
display_result(winner="Real Madrid", score="1-0")

The winner was Real Madrid
The score was 1-0

In [22]:
display_result(winner="Real Madrid", score="1-0", overtime ="yes", injuries="none")

TypeError: display_result() got an unexpected keyword argument 'overtime'

In [27]:
def display_result(winner, score, **kwargs):
    print("The winner was " + winner)
    print("The score was " + score)
    print(kwargs)

In [28]:
display_result(winner="Real Madrid", score="1-0", overtime ="yes", injuries="none")

The winner was Real Madrid
The score was 1-0
{'overtime': 'yes', 'injuries': 'none'}

In [32]:
def display_result(winner, score, *args):
    print("The winner was " + winner)
    print("The score was " + score)
    print(args)

In [36]:
display_result("Real Madrid", "1-0", "yes", "none")

The winner was Real Madrid
The score was 1-0
('yes', 'none')

In [40]:
# poasitional arguments

# name = "Qasim", "Hassan", age=20

def details(last_name, first_name, age=20):
    print(first_name, last_name, age)

details("Mehmood", "Qasim")

Qasim Mehmood 20

NOTES:
- Keywords arguments will always be at last.
- if we have last argument as *args before that we can't use kwargs

### Functions: Passing information back from them

In [41]:
def count(i):
    upper=0
    lower=0
    for char in i:
        if char.isupper():
            upper +=1
        elif char.islower():
            lower +=1

    return upper, lower

In [42]:
count("The Quick Brown Fox")

(4, 12)

### Using functions as variables (which is what they really are)

In [43]:
upper, lower = count("The Quick Brown Fox")

In [44]:
print(upper)
print(lower)

4
12

Write a Python function to multiply all the numbers in a list.
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336

In [46]:
def multiply(n):
    value = 1
    for i in n:
        value = value * i
    print(value)
multiply([8,2,3,-1,7])

-336

Write a Python program to reverse a string.
Sample String : "1234abcd"
Expected Output : "dcba4321"

In [48]:
def My_str(str):
    return str[::-1]
My_str("Muysdsdj")

'jdsdsyuM'

### Functions: Local vs. global variables

In [53]:
f_name = "Qasim"
def details():
    l_name= "Hassan"
    print(f_name)

details()
f_name

Qasim

'Qasim'

In [55]:
def details():
    global f_name
    f_name = "Qasim"
    l_name= "Hassan"
    print(f_name)

details()
f_name

Qasim

'Qasim'

### Functions within functions

Write a function that first detect even/odd and if number is even then it takes the factorical of it.

In [69]:
def fac(n): # 4 -> 4*3*2*1
    if n == 1:
        return n
    return n*fac(n-1)
    
def evenOdd(n):
    if n%2 == 0:
        return fac(n)
    else: 
        return "number is odd"

In [64]:
evenOdd(5)

'number is odd'

In [70]:
evenOdd(4)

24

## While loop

In [ ]:
syntax:
--------

while <cond not true>:
    <execute node>