## Shortcut of Jupyter Notebook

- ESC + 1,2,3 (To convert cell create heading)
- ESC + M (convert selected cell into markdown)
- ESC + A (crerate a cell above)
- ESC + B (create a cell belwo)
- ESC + DD (to delete any selected cell)
- ESC + Y (convert any cell into code)
- SHIFT + ENTER  (execuete the cell and goto new cell)
- CRTL + ENTER ( exectue but stay in that cell)
- CRTL + SHIFT + H ( to get all shortcut commands)

## RECAP

In [1]:
print("Hello, Saylani Students")

Hello, Saylani Students

In [1]:
# Data Types: INTEGER, STRING, FLOAT, BOOLEAN
name = "Qasim" # String
age = 20 # Integer
weight = 20.5 #Float
is_present = True #Boolean

In [5]:
# TAB is used to guess & auto complete
# printing more then one vaiavle convert it into TUPLE(we'll cover it later)
# Jupyter Notebook ayutomatically print last line into console
type(name), type(age), type(weight), type(is_present)
print(type(name), type(age), type(weight), type(is_present))
type(name), type(age), type(weight), type(is_present)

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

(str, int, float, bool)

- varibale can't have special characters excep underscore (_)
- number cannot be in the start of variable name
- already reserve word by pyhton can't be a variable name e.g: print = "Qasim"
- name should be precise and meaningful

## Math expressions: Eliminating ambiguity

In [6]:
(3+8)/(2-1)/2

5.5

In [ ]:
((2 * 4) * 4) + 2

In [ ]:
(2 * 4) * (4 + 2)

### Math expressions: familiar operators

-  +, -, *, /

### Math expressions: Unfamiliar operators

-  power(**), floor(//), Remainder(%), incremenrtal operators ( +=, -=, *=)

In [8]:
5**2

25

In [10]:
7//2

3

In [11]:
7%2 # remiander

1

In [13]:
age = age + 2

In [20]:
age += 22

In [21]:
age

24

In [17]:
weight

20.5

In [22]:
num = 3

In [23]:
num *= 2

In [24]:
num

6

In [26]:
import math # we'll look inot it bit later in detail
math.floor(weight)

20

In [27]:
weight

20.5

## Concatenating text strings

In [29]:
"Hello, Saylani Students" + " !!!"

'Hello, Saylani Students !!!'

In [32]:
print("Hello, Saylani Students", " !!!")

Hello, Saylani Students  !!!

In [37]:
"My name is " + name + ", my age is " +  str(age) + ", my weight is "+ str(weight)

'My name is Qasim, my age is 24, my weight is 20.5'

In [39]:
f"My name is {name}, my age is {age}, my weight is {weight}" # f string

'My name is Qasim, my age is 24, my weight is 20.5'

In [40]:
"My name is {}, my age is {}, my weight is {}".format(name, age, weight)

'My name is Qasim, my age is 24, my weight is 20.5'

In [43]:
# from book

print("The sum of 2 plus 2 is " + 4)

TypeError: can only concatenate str (not "int") to str

In [44]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

### Conditional Statements: if elif else

syntax:
-------

if <condition-TRUE>:
    <if-body>
else:
    <second-body>

- body of if-else alweays have 4 spaces/indented
- after colon the body will start