Tuples

In [1]:
# Start with ()
# Immutable, can't change 
# Ordered elements

In [3]:
first_tuple = (1,2,3,4)
first_tuple

(1, 2, 3, 4)

In [7]:
multiple_datatype =  (1,"tuple",0.32)

In [9]:
print(type(multiple_datatype))

<class 'tuple'>

In [11]:
single_tuple = (1)
print(type(single_tuple))

<class 'int'>

In [12]:
single_tuple = (1,)
print(type(single_tuple))

<class 'tuple'>

In [18]:
new_tuple = ("Qasim","Ayan","Faisal","Uzair","hamza")

In [15]:
new_tuple[4]

'hamza'

In [17]:
new_tuple[1:]

('Ayan', 'Faisal', 'Uzair', 'hamza')

In [19]:
new_tuple[:3]

('Qasim', 'Ayan', 'Faisal')

In [26]:
new_tuple[-1:-4:-1]

('hamza', 'Uzair', 'Faisal')

In [27]:
new_tuple[0]='Uzair'

TypeError: 'tuple' object does not support item assignment

Functionalities

In [32]:
import sys 

listt = ["Qasim","Ayan","Faisal","Uzair","hamza"]
tupple = ("Qasim","Qasim","Faisal","Uzair","hamza")

print(sys.getsizeof(listt))
print(sys.getsizeof(tupple))

104
80

tuple is more faster and efficient

In [33]:
tupple.count("Qasim")

2

In [34]:
tupple.index("Faisal")

2

Nested tuple

In [35]:
# [1,2,[5,6,6],2,3] Nested List
# (1,2,3,(6,7,8,9),012) nested tuple

In [38]:
nested_tuple  = (1,2,3,(6,7,8,9),12)
nested_tuple[3]

(6, 7, 8, 9)

In [40]:
nested_tuple[3][2]

8

In [41]:
nested_tuple[3][3]

9

SETS

In [42]:
# unordered
# Unique values

first_set={1,2,34,5,1} # Fist method
first_set

{1, 2, 5, 34}

In [46]:
first_set

{1, 2, 5, 34}

In [47]:
# 2nd Method 

second_set = set([1,2,34,5,1])
second_set

{1, 2, 5, 34}

In [48]:
second_set[0]

TypeError: 'set' object is not subscriptable

For Loops

In [ ]:
# Syntax

# for variable in iterator:
#     code block

In [57]:
listt = ["Qasim","Ayan","Faisal","Uzair","hamza"]

for i in listt:
    print(i)

Qasim
Ayan
Faisal
Uzair
hamza

In [58]:
print(len(listt))

5

In [59]:
# range function 
for i in range(11): # 0 to 9
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [64]:
import time
for i in range(len(listt)): 
    print(i, listt[i])
    time.sleep(5)
    # print('sleeping')

0 Qasim
1 Ayan
2 Faisal
3 Uzair
4 hamza

In [66]:
var = "SMITDECLASS"
for i in var:
    print(i)

S
M
I
T
D
E
C
L
A
S
S

Take 5 input names, store them into a list and then print one by one

In [69]:
names = []

for i in range(2): 
    name = input("Enter your name: " )
    names.append(name)
    print(names)

for i in names:
    print(i)

Enter your name:  ayan

['ayan']

Enter your name:  uzair

['ayan', 'uzair']
ayan
uzair

In [71]:
for i in range(2,10):# 
    print(i)

2
3
4
5
6
7
8
9

Nested loops

In [84]:
nested_lists = [[1,2,4,5,6,89,9],[1,4,67,9,9,8,9,10,2,3],["Starc","Kohli","Root"]]

# elements in first list 3
for i in nested_lists:
    print(i)
    # 1st iteration [1,2,4,5,6,89,9]
    # 2nd iteration [1,4,67,9,9,8,9,10,2,3]
    # 3rd iteration ["Starc","Kohli","Root"]
    for j in i:
        print(j)

[1, 2, 4, 5, 6, 89, 9]
1
2
4
5
6
89
9
[1, 4, 67, 9, 9, 8, 9, 10, 2, 3]
1
4
67
9
9
8
9
10
2
3
['Starc', 'Kohli', 'Root']
Starc
Kohli
Root

In [ ]:
# first loop 3 times:
    # 1st iterationn 
    # for j in nested_lists:
        # this loop will execute 3 times

    # 2ND ITERATION
     # J 3 TIMES 

    # 3 3RD ITERATION 
    # J 3 TIMES

In [79]:
simple_list = [1,2]
for i in simple_list:
    # print(i)
    for j in simple_list:
        print("i ",i,"j ",  j)

i  1 j  1
i  1 j  2
i  2 j  1
i  2 j  2

In [ ]:
 * * * * *
 * * * * *
 * * * * *
 * * * * *
 * * * * *

In [99]:
for i in range(7):
    for j in range(6):
        print("*", end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

Home Tasks

In [ ]:
*
**
***
****
*****

In [ ]:
*****
****
***
**
*

Conditional Statements

In [104]:
# break

for i in range(10): # 0 to 9 
    print(i)
    if i == 3:
        break

0
1
2
3

In [110]:
# continue

for i in range(6): # 0 to 11 
    print(i)
    if i == 3 or i == 4:
        continue
    print("Hello")

0
Hello
1
Hello
2
Hello
3
4
5
Hello

In [111]:
name = "Ayan Hussain"
print(name.lower())

ayan hussain

In [112]:

print(name.upper())

AYAN HUSSAIN

In [113]:
name = 'ayan hussain'
# print Ayan Hussain
print(name.title())

Ayan Hussain